# Dependency directories
node_modules/
jspm_packages/
web_modules/
vendor/

# Build outputs
dist/
build/
.next/
out/

# Environments and secrets
.env
.env.local
.env.*.local
*.log

# IDE & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
